<div class="product_details subBoxex">
  <mat-toolbar color="primary" class="subHeader">
    <span>Product Details</span>
    <span>{{product?.name}}</span>
  </mat-toolbar>
  <div class="product_details_content" [formGroup]="productForm">
    <div class="row image_form">
      <div class="col-md-6 image_area">
        <label for="image">
          <input id="image" style="display:none;" type="file" accept="image/*" (change)="uploadImage($event)" />
          <img [src]="imageSrc ? imageSrc : '../../../assets/img/upload.png'" class="upload_image">
        </label>
      </div>
      <div class="col-md-6 form_area">
        <mat-form-field class="name_field">
          <input matInput autocomplete="off" placeholder="Name" type="text" formControlName="name">
          <mat-error
            *ngIf="productForm.controls.name.hasError('pattern') && !productForm.controls.name.hasError('required')">
            *Please enter a valid name
          </mat-error>
          <mat-error *ngIf="productForm.controls.name.hasError('required')">
            *Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="price_field">
          <span matPrefix>$ &nbsp;</span>
          <input matInput autocomplete="off" placeholder="MRP" type="number" formControlName="mrp">
          <mat-error *ngIf="productForm.controls.mrp.hasError('required')">
            *MRP is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="productForm.controls.mrp.hasError('range')">
            *Please enter valid MRP
          </mat-error>
        </mat-form-field>
        <mat-form-field class="price_field">
          <span matPrefix>$ &nbsp;</span>
          <input matInput autocomplete="off" placeholder="Base price" type="number"
            formControlName="price">
          <mat-error *ngIf="productForm.controls.price.hasError('required')">
            *Base price is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="productForm.controls.price.hasError('range')">
            *Please enter valid base price
          </mat-error>
        </mat-form-field>
        <span class="error_message" *ngIf="productForm.hasError('price')">
          *Base price must be less than MRP
        </span>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <app-product-attributes [attributes]="product.attribute" (attributesEvent)="receiveAttributes($event)">
    </app-product-attributes>
  </div>
  <mat-toolbar class="action_buttons">
    <button mat-raised-button class="add_button" [disabled]="productForm.invalid || this.product._id"
      (click)="addProduct()">Add</button>
    <button mat-raised-button class="save_button"
      [disabled]="productForm.invalid || ratingControl.invalid || !this.product.rating || !this.product._id"
      (click)="updateProduct()">Save</button>
    <button mat-raised-button class="delete_button" [disabled]="!this.product._id" (click)="alert()">Delete</button>
    <button mat-raised-button class="cancel_button"
      [disabled]="productForm.untouched && !imageSrc && !this.product.rating" (click)="cancel(false)">Cancel</button>
  </mat-toolbar>
</div>