.subHeader {
    justify-content: space-between;
    overflow: hidden;
}

.product_details mat-form-field {
    width: 100%;
}

.product_details_content {
    padding: 15px;
}

.quantity_field, .price_field {
    width: 50% !important;
}

.name_field, .quantity_field, .price_field {
    margin-bottom: 10px;
}

.action_buttons {
    justify-content: flex-end;
}

.add_button {
    background: #3f51b5;
    color: #fff;
}

.save_button{
    background: #4CAF50;
    color: #fff;
    margin-left: 8px;
}

.delete_button{
    background: rgb(214, 52, 52);
    color: #fff;
    margin-left: 8px;
}

.cancel_button{
    background: orange;
    color: #fff;
    margin-left: 8px;
}

.image_area {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload_image {
    max-width: 100%;
    max-height: 190px;
    cursor: pointer;
}

.error_message {
    color: red;
}