<div class="product_rating subBoxex">
  <mat-toolbar color="primary" class="subHeader attribute_toolbar">
    <span>Product Attributes</span>
    <button mat-button (click)="addAttribute()">
      <mat-icon class="material-icons-outlined">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <div class="attribute_content">
    <div *ngIf="!attributesForm.get('attribute')['controls'].length" class="no_attributes">Click <strong>+</strong>
      button
      to
      add product attributes</div>
    <div [formGroup]="attributesForm">
      <div formArrayName="attribute" *ngFor="let item of attributesForm.get('attribute')['controls']; let i = index;">
        <div [formGroupName]="i" class="form_elements">
          <mat-form-field>
            <input matInput placeholder="Attribute" formControlName="attributeKey" (change)="attributeEvent()">
            <mat-error *ngIf="item.controls.attributeKey.hasError('required')">*Attribute is
              <strong>Required</strong></mat-error>
            <mat-error *ngIf="item.controls.attributeKey.hasError('pattern')">*Please enter valid attribute
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Detail" formControlName="attributeValue" (change)="attributeEvent()">
            <mat-error *ngIf="item.controls.attributeValue.hasError('required')">*Attribute detail is
              <strong>Required</strong></mat-error>
            <mat-error *ngIf="item.controls.attributeValue.hasError('pattern')">*Please enter valid attribute detail
            </mat-error>
          </mat-form-field>
          <button mat-button (click)="deleteAttribute(i)">
            <mat-icon class="errors">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>