<mat-dialog-content>
  <div class="closeIcon">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <div class="row">
    <div class="col-md-5 product_detail_image_area">
      <img [src]="productDetail?.image ? productDetail?.image : '../../../assets/img/picture.png'"
        class="product_detail_image">
    </div>
    <div class="col-md-7 product_detail_table_area">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Overview">
          <app-user-product-overview [productDetail]="productDetail"></app-user-product-overview>
        </mat-tab>
        <mat-tab label="Information">
          <app-user-product-information [attribute]="productDetail.attribute"></app-user-product-information>
        </mat-tab>
        <mat-tab label="Distributors">
          <app-user-product-distributors [distributors]="productDetail.distributor"></app-user-product-distributors>
        </mat-tab>
        <mat-tab label="Rating">
          <app-user-product-rating [productDetail]="productDetail"></app-user-product-rating>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-dialog-content>