.product_detail_image_area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 300px;
}

.product_detail_image {
    max-width: 100%;
}

.product_detail_container {
    margin: 30px;
}

.closeIcon {
    text-align: right;
}

.closeIcon mat-icon {
    cursor: pointer;
    position: absolute;
    margin-top: -25px;
    font-size: 20px;
}

.product_detail_table_area mat-tab-group{
 min-width: 400px;   
}