<div class="login">
  <mat-card class="login_box">
    <mat-toolbar color="primary">Login</mat-toolbar>
    <div class="login_form">
      <form [formGroup]="loginForm">
        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Username" type="text" formControlName="username">
          <mat-error
            *ngIf="loginForm.controls.username.hasError('pattern') && !loginForm.controls.username.hasError('required')">
            *Please enter a valid username
          </mat-error>
          <mat-error *ngIf="loginForm.controls.username.hasError('required')">
            *Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error
            *ngIf="loginForm.controls.password.hasError('pattern') && !loginForm.controls.password.hasError('required')">
            *Please enter a valid password
          </mat-error>
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            *Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="loggedInFailed">
          *Invalid username or password
        </mat-error>
        <button mat-raised-button (click)="login()"
          [disabled]="showLoadding">{{showLoadding ? "Please wait.." : "Login"}}</button>
      </form>
    </div>
  </mat-card>
</div>