.distributor_list mat-card {
    margin: 15px;
    padding: 0;
}

.distributor_list mat-list {
    padding: 0;
    max-height: 350px;
    overflow: auto;
}

.distributor_list mat-list mat-list-item:hover{
    background: #3f51b5;
    color: #fff;
    cursor: pointer;
}

.active {
    background: #3f51b5;
    color: #fff;
    cursor: pointer;
}

.no_distributor {
    text-align: center;
    margin: 20px;
    color: grey;
}

.distributor_list_item {
    font-size: 15px !important;
    height: 35px !important;
}

.distributor_toolbar {
    display: flex;
    justify-content: space-between;
}

.distributor_toolbar button {
    padding: 0;
    text-align: right;
}