<div class="product_rating subBoxex">
  <mat-toolbar color="primary" class="subHeader attribute_toolbar">
    <span>Product Distributors</span>
    <button mat-button (click)="addDistributor()" *ngIf="distributorsList.length">
      <mat-icon class="material-icons-outlined">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <div class="attribute_content">
    <div *ngIf="!distributorForm.get('distributor').controls.length && distributorsList.length" class="no_attributes">
      Click <strong>+</strong> button to add product distributors</div>
    <div *ngIf="!distributorsList.length" class="no_attributes">Distributors not available</div>
    <div [formGroup]="distributorForm">
      <div formArrayName="distributor" *ngFor="let item of distributorForm.get('distributor').controls; let i = index;">
        <div [formGroupName]="i" class="form_elements">

          <mat-form-field>
            <mat-label>Distributor</mat-label>
            <mat-select formControlName="distributorName" (change)="distributorEvent()" (input)="distributorEvent()">
              <mat-option *ngFor="let distributor of distributorsList" [value]="distributor.name">
                {{distributor.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="item.controls.distributorName.hasError('required')">*Distributor is
              <strong>Required</strong></mat-error>
          </mat-form-field>
          <mat-form-field class="distributorPrice">
            <input matInput type="number" placeholder="price" formControlName="distributorPrice"
              (change)="distributorEvent()" (input)="distributorEvent()">
            <mat-error *ngIf="item.controls.distributorPrice.hasError('required')">*Price is <strong>Required</strong>
            </mat-error>
            <mat-error
              *ngIf="item.controls.distributorPrice.hasError('range') && !item.controls.distributorPrice.hasError('required')">
              *Price must be between <strong>Base Price</strong> and <strong>MRP</strong>
            </mat-error>
          </mat-form-field>
          <strong
            [ngStyle]="{'color':item.controls.distributorPrice.value - basePrice > 0 ? '#53d253' : 'red','padding':' 0 20px'}">
            {{item.controls.distributorPrice.hasError('range') ? '' : item.controls.distributorPrice.value - basePrice > 0 ? '+' + (item.controls.distributorPrice.value - basePrice) : (item.controls.distributorPrice.value - basePrice)}}
          </strong>
          <button mat-button (click)="deleteDistributor(i)">
            <mat-icon class="errors">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>