/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.product_list mat-list mat-list-item .mat-list-item-content {
    justify-content: space-between !important;
}

.subHeader {
    height: 50px !important;
    font-size: 18px !important;
}

.subBoxex {
    border: 1px solid #3f51b533;
    background: #fff;
    border-radius: 4px;
}