<div class="distributor_list subBoxex">
  <mat-toolbar color="primary" class="subHeader distributor_toolbar">
    <span>Distributors</span>
    <button mat-button (click)="addDistributor()">
      <mat-icon class="material-icons-outlined">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <div class="no_distributor" *ngIf="!distributorsList?.length">
    <span>Distributors not available</span>
  </div>
  <mat-card>
    <mat-list role="list" *ngIf="distributorsList?.length">
      <mat-list-item class="distributor_list_item" role="listitem"
        *ngFor="let distributor of distributorsList; let i = index" [ngClass]="{active: selectedDistributor == i}"
        (click)="selectDistributor(i)">
        <span>{{distributor?.name}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>